$svgHeight: 70px;
$fontHeight: 20px;
$fontWeights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$backgroundColor: #a5a597;
$backgroundColor2: #c4c4bb;
$topSpacing: 120px;
$spacing: 10px;